
@import url('https://fonts.googleapis.com/css2?family=Baskervville&family=Kalam:wght@300&display=swap');

body {
  font-family: 'Baskervville', serif;
font-family: 'Kalam', cursive;
font-weight: bold;
}




